- if params[:scope] == 'my' || action_name == 'my'
  = render "calendar/my_daily_view", date: date, family_plans: @family_plans, family_tasks: @family_tasks
- else
  = render "calendar/family_daily_view", date: date, family_plans: @family_plans, family_tasks: @family_tasks, target_users: @target_users