/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sidebar {
    width: 60px;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    margin: 20px 0;
}

.top-bar {
    width: calc(100% - 60px);
    height: 60px;
    background-color: #555;
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 60px;
}

.top-bar-title h1 {
    margin: 0;
}

.top-bar-icons {
    display: flex;
    gap: 10px;
}

.top-bar-icon {
    color: white;
    text-decoration: none;
}

.main-content {
    margin-left: 60px;
    padding-top: 80px; /* サイドバーと上部バーのスペースを確保 */
}
