@import "./side_panel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btm-nav {
    height: calc(5.5rem + env(safe-area-inset-bottom));
    padding-top: 0.75rem;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/